:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
}

body {
    background-color: var(--cor-de-fundo);
}

h1 {
    background-color: white;
}

.cabeçalho {
    background-color: var(--branco);
}

.cabeçalho__menu-hamburguer {
    margin-left: 20px;
    width: 24px;
    height: 24px;
    background-image: url("./img/Menu.png");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;


}

.container__imagem {
    padding: 1em;
    margin-right: 20px;
}

.logoimg {
    display: inline-block;
    position:fixed;
    margin-left: 6em;
}